/* Tokyo Night color scheme for Waybar */
@define-color background #1a1b26;
@define-color foreground #c0caf5;
@define-color surface0 #24283b;
@define-color surface1 #414868;
@define-color white #ffffff;
@define-color purple #9d7cd8;
@define-color blue #7aa2f7;
@define-color red #f7768e;
@define-color green #73daca;
@define-color yellow #e0af68;
@define-color pink #bb9af7;
@define-color cyan #7dcfff;
