@define-color background #1a1a1a;
@define-color background-alt rgba(30, 30, 30, 0.9);
@define-color foreground #b0b0b0;
@define-color foreground-dim #666666;
@define-color surface0 #252525;
@define-color surface1 #3a3a3a;
@define-color surface2 #4a4a4a;
@define-color white #e8e8e8;
@define-color black #0a0a0a;
@define-color gray #888888;
@define-color accent #ffffff;
@define-color accent-dim #cccccc;
@define-color purple #9090a0;
@define-color blue #8090a0;
@define-color red #a08080;
@define-color green #80a080;
@define-color yellow #a0a080;
@define-color pink #a090a0;
@define-color cyan #80a0a0;
@define-color mauve #a090a0;
