/* Custom color scheme for Waybar */
@define-color background #0a0a0a;
@define-color foreground #b0b0b0;
@define-color surface0 #1c1c1c;
@define-color surface1 #333333;
@define-color white #d0d0d0;
@define-color purple #9a7aba;
@define-color blue #6a8ac0;
@define-color red #b06a6e;
@define-color green #8aaa6a;
@define-color yellow #b09a5a;
@define-color pink #aa9aba;
@define-color cyan #6aaaba;
