window {
    margin: 0px;
    border: 2px solid #6a8ac0;
    background-color: #0a0a0a;
    border-radius: 8px;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
}

#input {
    margin: 8px;
    padding: 8px 12px;
    border: 2px solid #333333;
    background-color: #1c1c1c;
    color: #b0b0b0;
    border-radius: 6px;
    font-size: 14px;
}

#input:focus {
    border: 2px solid #6a8ac0;
    outline: none;
}

#inner-box {
    margin: 8px;
    background-color: #0a0a0a;
}

#outer-box {
    margin: 0px;
    background-color: #0a0a0a;
}

#scroll {
    margin: 0px;
}

#text {
    margin: 4px;
    padding: 8px 12px;
    color: #b0b0b0;
}

#entry {
    margin: 2px 8px;
    padding: 8px 12px;
    border-radius: 6px;
    background-color: #0a0a0a;
}

#entry:selected {
    background-color: #6a8ac0;
    color: #0a0a0a;
    font-weight: bold;
}

#entry:hover {
    background-color: #333333;
}

#text:selected {
    color: #0a0a0a;
}

